#main
	#leftContent
		#pageTitle
		#featureBox
			%h2 At HB Print we Offer:
			%ul#features
				%li <span id="arrow">></span> The Best Prices in Town! Free Setup*, Free Ink and No Hidden Costs!
				%li <span id="arrow">></span> Free Design and Mockup Service!
				%li <span id="arrow">></span> Wide range of Capabilities, such as over-the-seam prints!
				%li <span id="arrow">></span> Specialty Inks - Allows for bigger artwork!
				%li <span id="arrow">></span> Lightning-Fast Turnaround Times!																
	#rightContent
		= render 'layouts/form'
		