#main
	#leftContent
		#pageTitle
		#featureBox
			%h2 At HB Print we Offer:
			%ul#features
				%li <span id="arrow">></span> The Best Prices in Town! Free Setup*, Free Ink and No Hidden Costs!
				%li <span id="arrow">></span> Free Design and Mockup Service!
				%li <span id="arrow">></span> Wide range of Capabilities, such as over-the-seam prints!
				%li <span id="arrow">></span> Specialty Inks - Allows for bigger artwork!
				%li <span id="arrow">></span> Lightning-Fast Turnaround Times!																
	#rightContent
		= render 'layouts/form'
		
#lowerContent
	#row
		%img{:src => image_path('satisfaction.jpg'), :alt => ''}
		%h1 We Stand Behind Our Work!
		%p HB Print is a Screen Printing and Embroidery shop located in Huntington Beach, Califoria that has  been helping general contractors, school teams, bands, clothing lines, food chains, and many subsidiaries within, ensure a classy, and professional look by printing High-Grade-Inks on 100% Cotton T-shirts that will last longer in tougher conditions.  We stand behind our product, and guarantee you'll be satisfied or your money back!
		%img.shadow{:src => image_path('shadow.png')}
	#row
		%img{:src => image_path('form-revised.jpg'), :alt => ''}
		%h1 Getting Started With Us
		%p To get started with HB Print, fill out the simple form above. We'll get back to you within 24hrs.
		%h1 You're Information is Safe!
		%ul.row
			%li
				%img{:src => image_path('check-mark.jpg')} Secure Info Submission! Your information is secure!			
			%li
				%img{:src => image_path('check-mark.jpg')} Spam Free Guarantee! We won't sell your email certified!		
			%li
				%img{:src => image_path('check-mark.jpg')} Hassle Free Quote - No Obligtions! We get you the quote, and leave you to decide!		
		%img.shadow{:src => image_path('shadow.png')}	
	.clr						
	#row
		%h1 Sample Shirts
		%img{:src => image_path('shirtts.jpg'), :alt => ''}
		%img.shadow{:src => image_path('shadow.png')}
		
	#row
		<object width="252" height="212"><param name="movie" value="http://www.youtube.com/v/clwFRuJb8Vo?version=3&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/clwFRuJb8Vo?version=3&amp;hl=en_US" type="application/x-shockwave-flash" width="252" height="212" allowscriptaccess="always" allowfullscreen="true"></embed></object>
		%h1 How We Started
		%p We started with a small shop in Huntington Beach, Ca. With limited resources, we reached out to our community for help and support. As our business matured, we found the most important aspect to business growth is strong customer relationships.We began educating our friends, family, customers, and anyone else willing to listen, about the one thing we're so passionate about... Screen Printing! Turns out, a very large percentage of people are unaware of what goes into printing their t-shirts. We began creating a series of videos and blog post to educate our community and allow our prospectives to get a chance to know us before they settle. Check out this video on how to fold a t-shirt in 3 seconds or less, it's just one of the many instruments we've begun utilizing as the medium for connecting and communicating our passion for the industry.
		%img.shadow{:src => image_path('shadow.png')}

.footer
	HB Print, Inc.
	%br
	18253 Gothard St.
	%br
	Huntington Beach, Ca 92648
	%br
	%br
	Copyright HBscrennprint.com. All Rights Reserved
		
